body { margin:0; padding:0; }
#map { position: absolute; top:0; bottom:0; right:0; left:150; width:65%; }


article {
    position:absolute;
    top:30px;
    right:0;
    bottom:0px;
    left:0;
    overflow:auto;
}
.quiet {
    color:rgba(0,0,0,0.5);
}
.scroll {
    display:block;
    text-align:center;
}
.sections {
    background:rgba(255,255,255,0.5);
    width:450px;
}


section {
    padding:20px;
    color:rgba(0,0,0,0.5);
    -webkit-transition:background 500ms, color 500ms;
    transition:background 500ms, color 500ms;
}
section.active {
    background:#fff;
    color:#404040;
}
